body {
    font-family: Arial, sans-serif;
    margin: 0;
    overflow-x: hidden;
}
.carousel {
    top: 25px;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease-in-out; 
    width: 100%; 
}

.carousel-item {
    min-width: 100%; 
    box-sizing: border-box;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.carousel-item img {
    width: auto; 
    height: 500px;
    max-height: 80vh;
    object-fit: cover; 
}
.prev-btn, .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 1;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}

.prev-btn:hover, .next-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}