:root {
    --black: #fff;
    --Tropicalindigo: #0000cc;
    --darkp: #0000cc;
}

#toggle {
    display: none;
}

#label_toggle {
    position: absolute;
    top: 80px;
    left: 30px;
    font-size: 2em;
    color: var(--Tropicalindigo);
    cursor: pointer;
}

h1 {
    margin-top: 10px;
    text-align: center;
    color: #c5c1c1;
}

h1 span {
    color: var(--Tropicalindigo);
}

#filter-container,
#productos-list {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

#productos-container {
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
}

#productos-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    justify-items: center;
    align-items: stretch;
}

.producto {
    position: relative;
    background-color: var(--black);
    border: 1px solid #0000cc;
    border-radius: 8px;
    padding: 20px;
    width: 90%;
    box-sizing: border-box;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.compartir-button {
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: #0000cc;
    color: white;
    padding: 6px 8px;
    border-radius: 50%;
    text-decoration: none;
    font-size: 14px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    transition: background-color 0.2s ease;
}

.compartir-button:hover {
    background-color: #0000cc;
}

.producto:hover {
    box-shadow: 0 4px 8px var(--Tropicalindigo);
}
.producto h3 {
    font-size: 12px; 
    font-weight: bold;
    color: #000;
    text-align: center;
    margin-bottom: 8px;
}
.producto {
    min-height: 260px; 
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.producto img {
    width: 100%;
    max-width: 140px;
    height: 140px;
    object-fit: contain;
}
.cart-btn {
    position: fixed;
    bottom: 20px;
    right: 15px;
    background-color: var(--darkp);
    padding: 10px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 999;
    transition: transform 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-btn:hover {
    cursor: pointer;
    opacity: 0.9;
    transform: scale(1.1);
}
.cart-counter {
    position: absolute;
    top: -5px;
    right: 30px;
    background-color: var(--Tropicalindigo);
    border-radius: 50%;
    height: 18px;
    width: 18px;
    color: #fff;
    font-size: 15px;
    text-align: center;
    line-height: 18px;
    display: none; 
}


.fa-cart-shopping {
    color: #c5c1c1;
    transform: scaleX(-1);
    font-size: 18px;
}
.custom-alert {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--darkp);
    border: 1px solid var(--darkp);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px var(--Tropicalindigo);
    width: 300px;
}

.custom-alert-content {
    position: relative;
}

.custom-alert-content span {
    color: #c5c1c1;
    font-weight: bold;
}

#custom-alert-close {
    position: absolute;
    top: -1px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #c5c1c1;
    transition: color 0.3s;
}
.producto button {
    margin-top: 8px;
    padding: 2px 6px;
    background-color: var(--darkp);
    border: none;
    border-radius: 6px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s;
}
.ver-mas {
    display: inline-block;
    padding: 1px 5px;
    background-color: var(--darkp);
    color: #fff;
    text-decoration: none; 
    font-weight: bold;
    border-radius: 6px;
    text-align: center;
    transition: background-color 0.3s ease;
  }
  

#custom-alert-close:hover {
    color: var(--Tropicalindigo);
}

.pagination {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4px;
    margin-top: 10px;
}

.pagination button {
    background-color: #0011ff;
    color: #fff;
    border: none;
    padding: 4px 8px;
    font-size: 11px;
    border-radius: 5px;
    cursor: pointer;
}

.pagination button:hover {
    background-color: #5f9ef0;
}
.vquantity-input {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30px;
    opacity: 0;
    pointer-events: none;
}

.quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-right: 4em;
}

.quantity-btn-decrese,
.quantity-btn-increse {
    color: #c5c1c1;
    cursor: pointer;
    font-size: 16px;
    width: 28px;
    font-weight: bold;
}

.quantity-btn-decrese:hover {
    color: red;
}

.quantity-btn-increse:hover {
    color: green;
}

.quantity-input {
    color: #c5c1c1;
    font-size: 16px;
    padding: 10 10px;
    text-align: center;
    width: 50px;
    font-weight: bold;
}
.modal-overlay {
    display: none;
    background-color: rgba(0, 0, 0, 0.5); /* Más oscuro para resaltar modal */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
}

.modal-container {
    display: none;
    background-color: var(--black);
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 90%;
    max-width: 600px;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 15px var(--Tropicalindigo);
    border-radius: 10px;
    z-index: 1001;
}

.modal-close {
    color: #c5c1c1;
    float: right;
    font-size: 24px;
    cursor: pointer;
}

.modal-close:hover {
    color: red;
}

.modal-title {
    color: #c5c1c1;
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
}

.modal-body {
    margin-top: 20px;
    color: #c5c1c1;
}

.product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.product-img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-right: 10px;
}

.product-info {
    flex: 1;
}

.product-info h4 {
    font-size: 16px;
    margin-bottom: 5px;
}

.price {
    font-size: 16px;
    font-weight: bold;
}

.delete-product {
    color: #c5c1c1;
    cursor: pointer;
    font-size: 18px;
}

.delete-product:hover {
    color: red;
}

.modal-footer {
    margin-top: 20px;
    text-align: center;
}

.total-price {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.btn-primary {
    background-color: var(--darkp);
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    color: #c5c1c1;
    cursor: pointer;
    font-size: 16px;
}

.btn-primary:hover {
    background-color: #5f9ef0;
}

.modal {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex; align-items: center; justify-content: center;
    z-index: 1000;
}
.modal-content {
    background: white;
    font-weight: bold;
    color: var(--darkp);
    padding: 20px;
    border-radius: 8px;
    width: 300px;
}
.modal-content input, .modal-content select {
    width: 100%;
    margin-top: 8px;
    margin-bottom: 12px;
    padding: 8px;
}

#compartir {
    top: 8px;
    right: 8px;
    background-color: #0000cc;
    color: white;
    padding: 6px 8px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 14px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    transition: background-color 0.2s ease;
}


@media (min-width: 481px) {
    #productos-list {
        grid-template-columns: 1fr 1fr;
    }

    .producto img {
        max-width: 120px;
    }

    .pagination button {
        padding: 5px 10px;
        font-size: 12px;
    }
}

@media (min-width: 768px) {
    #productos-list {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .producto img {
        max-width: 140px;
    }
}

@media (min-width: 1025px) {
    #productos-list {
        grid-template-columns: repeat(4, 1fr);
    }

    .producto img {
        max-width: 160px;
    }

    #filter-container {
        width: 20%;
    }

    #productos-list {
        width: 80%;
    }

    .cart-btn {
        bottom: 50px;
        right: 50px;
    }
}

/* Pantallas grandes (≥ 1441px) */
@media (min-width: 1441px) {
    #productos-list {
        grid-template-columns: repeat(5, 1fr);
    }

    .producto img {
        max-width: 200px;
    }
}

